# Compiled object files and libraries
*.o
*.a
*.lib

# pa3
PA3/pa3/.vscode
PA3/pa3/out
PA3/in/u4

# pa2
PA2/pa2/inputs/*
PA2/pa2/outputs/*
PA2/pa2/bin/*

# pa1
PA1/pa1/bin/*
PA1/pa1/inputs/*
PA1/pa1/lib/*
PA1/pa1/outputs/*
PA1/pa1/src/main.cpp
PA1/pa1/src/sort_tool.h
PA1/pa1/utility/*
PA1/b07901032_pa1/*
PA1/b07901032_pa1.tgz
